bazel-*
.bazelrc.user
# Robot
log.html
report.html
robot_output.xml
# VCS generated things
novas.fsdb
ucli.key
internal
*vcst*
novas*
*csrc*
*.rvvi
# Build artifacts for UVM
tests/uvm/rtl
tests/uvm/sim_work
tests/uvm/vc_hdrs.h
# Build artifacts for Verilator Sim
tests/verilator_sim/rvvi/*.o
tests/verilator_sim/rvvi/formatter_test
tests/verilator_sim/rvvi/spsc_test
tests/verilator_sim/rvvi/trace_test
# Container logs
tmp_log/
# python
__pycache__
# downloaded bitstreams
fpga/bitstreams
# Untracked build artifacts
e2e_output.log
unit_output.log


